.app {
    padding: 20px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    justify-content: center; /* Center the items */
}

/*FORMS*/
/* src/ProductsView.css */
.app {
    padding: 20px;
    text-align: center;
}

.product-form {
    margin-bottom: 20px;
}

.product-form input,
.product-form select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-form button:hover {
    background-color: #45a049;
}

.product-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    justify-content: center; /* Center the items */
}